@import url(variables.css); 
.card {
  height: 50vh;
  width: 18vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px #4f4f4f;
  transition: all 0.3s;
}
.card-img{
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}
.card:hover {
  transform: scale(1.05)
}

#container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;

}
.des{
  margin-top: 20%;
  font-family: 'Archivo', sans-serif; 
  font-size: 1rem;
}
.head{
    font-family: 'Archivo', sans-serif;
    font-size: 100px;
    text-align: center;
    color: white;
    padding: 50px;
}
/* Buttons CSS */
.button-56 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:hover {
  background-color: #fff;
}

.button-56:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-56 {
    min-width: 120px;
    padding: 0 25px;
  }
}