@import url(variables.css); 
/* #app {
  max-width: 1280px;
  margin-top: 60px;
  padding: 2rem;
  text-align: center;
  background-color: aqua;
  height: 100vh;
  width:100vw; 
} */
.card {
  height: 50vh;
  width: 18vw;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  margin: 1rem 1rem 1rem;
  border-radius: 20px;
  box-shadow: 10px 10px #4f4f4f;
  transition: all 0.3s;
}
.card-img{
  height: 60%;
  width: 100%;
  overflow: hidden;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;

}

#container {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
  margin-bottom: 3rem;

}
.des{
  margin-top: 20%;
}