body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}
:root{
    --light-yellow: #ede87e; 
    --orange: #f5bf49; 
    --light-blue: #cbe0f5;
    --light-blue-card: lightblue;
    --light-yellow-card: rgb(255, 251, 129); 
    --pink: pink; 
    --chris: url(https://img.freepik.com/premium-vector/seamless-christmas-pattern-with-trees-blue-background_429461-94.jpg); 
    --thanks: url(https://img.freepik.com/free-vector/flat-pattern-design-fall-season-celebration_23-2150684383.jpg); 
}
.head-text{
    background-color: var(--primary);
}
.div1{
    background-color: var(--secondary);

}
.warm{
    --primary: var(--light-yellow);
    --secondary: var(--orange); 
    --image: var(--thanks); 
    --card: var(--light-yellow-card)
}
.chris{
    --primary: var(--pink);
    --secondary: var(--light-blue); 
    --image: var(--chris); 
    --card: var(--light-blue-card)
}
.head{
    background-image: var(--image);
}
.card{
    background-color: var(--card);
}